@import "variables.scss";

.page-tag {
	background-color: black;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: $color-yellow;
  font-family: $font-family-mono;
}

h1 {
	font-family: $font-family-usual;
	font-weight: $font-weight-light;
	font-size: 36pt;
	display: block;
  border-top: $border-thin;
  border-bottom: $border-thin;
  padding: 20px 0;
}

.body-txt {
	font-family: $font-family-usual;
  font-weight: $font-weight-light;
  font-size: 12pt;
  line-height: 16pt;
}

