// Colors

$color-yellow: #FFF24C;

// Fonts

$font-family-usual: "usual", sans-serif;
$font-family-mono: "source-code-pro", sans-serif;

// Font weights

$font-weight-light: 200;

// Borders

$border-thin: 1px solid black;

// Breakpoints

$bp-sm:					400px;
$bp-md:					600px;
$bp-tablet:			768px;
$bp-lg:					1000px;
$bp-xl:					1600px;

// Box shadows

$button-shadow: rgba(0, 0, 0, 0.3) 0 2px 6px;
$button-shadow-pressed: rgba(0, 0, 0, 0.4) 0 4px 10px;