// Colors

$color-yellow: #FFF24C;

// Fonts

$font-family-usual: "usual", sans-serif;
$font-family-mono: "source-code-pro", sans-serif;

// Font weights

$font-weight-light: 200;

// Borders

$border-thin: 1px solid black;