.global-nav {
	width: 20%;
	height: 100vh;
	padding: 30px;
	background-color: white;
}

.logo {
	width: 110%;
	margin-left: -10%;
	margin-bottom: 60px;
}

.global-nav__links {
	margin: 0;
	padding: 0;
	> a {
		display: block;
		margin-bottom: 20px;
		font-family: $font-family-mono;
		color: black;
		text-transform: uppercase;
		text-decoration: none;
		list-style: none;
	}
}