<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_page.title }}</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% endblock %}
    
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script src="https://use.typekit.net/zsf4bmz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
  </head>
  <body>
    <nav class="global-nav color-inverse">
      <a class="logo-wrapper" href="/archive.html">
        <div class="logo"></div>
      </a>
      <ul class="global-nav__links">
        <a href="/archive.html">
          <li>Companies</li>
        </a>
        <a href="/about.html">
          <li>About</li>
        </a>
      </ul>
  	</nav>
    <div class="page-content--wrapper color-inverse">
  		<div class="page-content color-inverse">
        <div class="page-tab--left"></div>
        <div class="page-tab--right"></div>
  			<div class="tags">
  				<p class="page-tag color-inverse">#meta</p>
  			</div>
  		  <h1 class="page-title">About Boston Built</h1>
  		  <p class="body-txt">Boston Built is a directory of Boston’s best digital talent.  It was made by Upstatement. Want us to include your company? Get in touch!</p>

        <!-- Email Us Button -->

        <!-- <form class="contact-email" action="mailto:info@upstatement.com" method="GET">
            <input type="submit" value="Email Us" />
        </form> -->

        <!-- Contact Form -->

        <form class="contact-form">
          <label class="contact-form__input-label" for="input-1">Company Name</label>
          <input class="contact-form__input-text" id="input-1" type="text" name="company-name">
          <label class="contact-form__input-label" for="input-2">URL</label>
          <input class="contact-form__input-text" id="input-2" type="text" name="url">
          <label class="contact-form__input-label" for="input-3">What do you do?</label>
          <textarea class="contact-form__input-text" id="input-3" name="company-description"></textarea>
          <div class="contact-form__input-wrapper layout-block">
            <div class="contact-form__input-wrapper layout__two-up">
              <label class="contact-form__input-label" for="input-4">Email</label>
              <input class="contact-form__input-text" id="input-4" type="text" name="email">
            </div>
            <div class="contact-form__input-wrapper layout__two-up">
              <label class="contact-form__input-label" for="input-5">Phone</label>
              <input class="contact-form__input-text" id="input-5" type="text" name="phone">
            </div>
          </div>
          <label class="contact-form__input-label" for="input-6">Street Address</label>
          <input class="contact-form__input-text" id="input-6" type="text" name="address">
          <div class="contact-form__input-wrapper layout-block">
            <div class="contact-form__input-wrapper layout__three-up">
              <label class="contact-form__input-label" for="input-7">City</label>
              <input class="contact-form__input-text" id="input-7" type="text" name="city">
            </div>
            <div class="contact-form__input-wrapper layout__three-up">
              <label class="contact-form__input-label" for="input-8">State</label>
              <select class="contact-form__input-text" id="input-8" name="state">
                <option selected="selected">MA</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
            </div>
            <div class="contact-form__input-wrapper layout__three-up">
              <label class="contact-form__input-label" for="input-9">Zip Code</label>
              <input class="contact-form__input-text" id="input-9" type="text" name="zip">
            </div>
          </div>
          <input type="submit" value="Submit">
        </form>

      <!-- End Contact Form -->

  		</div>
      <footer class="footer">
  			<p class="footer-item">©2016. Made by <a href="http://www.upstatement.com">Upstatement</a></p>
  			<p class="footer-item"><a href="mailto:info@upstatement.com">info@upstatement.com</a></p>
  		</footer>
    </div>

    {% block scripts %}
    <!-- build:js /static/js/vendor.js -->
    
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    
    <!-- endbuild -->

    <!-- build:js /static/js/scripts.js -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <!-- endbuild -->
    {% endblock %}
  </body>
</html>