---
title: Generic Page
menu: true
---

{% extends "layouts/base.twig" %}

{% block content %}
	<div class="page-content">
		<div class="tags">
			<p class="page-tag">#generic-page</p>
		</div>
	  <h1 class="page-title">Generic Page</h1>
	  <div class="body-txt--wrapper">
	    <p class="body-txt">Boston Built is a directory of Boston’s best digital talent.  It was made by Upstatement. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
	  </div>
	</div>
{% endblock %}